body {
    background-image: url("./images/background.png");
    background-position: center;
    background-size: cover;
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header {
     text-align: center;
     padding: 30px 0;
}

h1 {
    color: #333;
}

.sub-title {
    color: #666;
}

.profile,
.skills,
.works,
.contact {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.contact {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 220px;
  height: 70px;

  text-decoration:none;
  transition: 0.3s;
}

.left-btn {
  background-color: #239b76;
  color: white;
  border-radius: 8px;
  box-shadow: 0 6px 0 #1c7d60;
}

.left-btn:hover {
  transform: translateY(-2px);
}

.left-btn:active {
  transform: translateY(6px);
  box-shadow: none;
}

.right-btn {
  background: linear-gradient(45deg, #0078ff, #00c6ff);
  color: white;
  border-radius: 30px;
  font-weight: bold;
}

.right-btn:hover {
  transform: scale(1.05);
}

.right-btn:active {
  transform: scale(0.95);
}

@media screen and (max-width: 768px) {

  .container {
    width: 100%;
    padding: 10px;
  }

  .contact {
    flex-direction: column;
    gap: 15px;
  }

  .btn {
    width: 100%;
  }

}
